__pycache__/
*.py[cod]
*$py.class
*.so
*.pyo
.pytest_cache/

.venv/
venv/
env/
ENV/

db.sqlite3
data/
staticfiles/
media/
*.log
local_settings.py

.env
.env.*
!.env.example

.git/
.gitignore
.gitattributes

.dockerignore
docker-compose*.yml
Dockerfile*

.vscode/
.idea/
*.swp
*.swo
*.sublime-*

.DS_Store
Thumbs.db
desktop.ini

.github/

readme.md
README.md
*.md
